        .ideaDataSources/
        asas/
        assets/12Z_01 _Jan _2009
        assets/12Z_01 _Jan _2009Item2
        assets/12Z_01 _Saturday _1958
        assets/12Z_01 _Saturday _1958Item2
        assets/f.dat
        kasri.iws
        target/

