*.ipr
*.iws
*.iml
/.idea
kasri.ipr
kasri.iws
.ideaDataSources/
target/
jre/
samples-data/*
!samples-data/mmpk/
 run-parallel/.gradle/
 run-parallel/build/
/jbjb
/dbderby
/positron
!positron/resources/
/nodejs
/earth/node_modules

