* {
    -fx-primary : #007bff;
    -fx-secondary :#0069d9;
    -fx-primarytext : #fff;
    -fx-blue: #007bff;
    -fx-red: #dc3545;
    -fx-green:#2E7D32;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}


.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primarytext;
}
