#fancytext {
    -fx-primary : #2A2E37;

    -fx-text-fill: white;
    -fx-font: 12px "B zar";
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #fff3e7 0%, #fff31a 50%);*/
    /*-fx-stroke: white;*/
    -fx-stroke-width: 1;
}

.jfx-slider {
    -jfx-default-thumb: #9d8024;
    -jfx-default-track: #CCCCCC;
}
