/* 
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal villan
*/

* {
    -fx-primary : #63613a;
    -fx-primary : #56542d;
    -fx-primary : #000000;
    -fx-primary : #fbccb3;
    -fx-primary : #989ba1;
    -fx-primary : #7d784d;
    -fx-primary : #f8fbee;
    -fx-primary: rgba(247, 247, 247, 0.8);



    /*-fx-secondary : rgb(255, 255, 255);*/
    -fx-secondary : rgb(0, 0, 0);
    /*-fx-primarytext : #ffffff;*/
    -fx-primarytext : #000000;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-green: #94a682;
    /*-fx-text-fill: #FFFFFF;*/
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/*Login Screen Specific*/


.wrong-credentials
{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
    -fx-pref-width : 350;
    -fx-pref-height : 60;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

/*Menu bar Styling*/
.menu-bar{
    -fx-base :white;
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-secondary;
}


.menu:hover,
.menu:showing,
.menu-item:focused {
    -fx-selection-bar:white;
    -fx-background-color: gray;
    -fx-text-fill: rgb(255, 255, 255);
}
.context-menu
{
    -fx-background-color: white;
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-green;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-green;
    -fx-border-color: derive(-fx-green, -20%);
    -fx-text-fill: white;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}

/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: derive(-fx-primary, 30%);
    -fx-border-color: derive(-fx-primary, 30%);
}
.chart-pie-label
{
    -fx-fill : derive(-fx-secondary, -5%);
}

/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}

/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px; 
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;  
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}


/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-green;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;   
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available 
{
    -fx-background-radius: 5px;
    -fx-fill: derive(#ffd465, 80%);
    -fx-cursor: hand;
}


.jfx-snackbar-toast{
    -fx-text-fill: #f3f3f3;
    -fx-border-radius: 200px 20px 20px 20px;
}
.jfx-snackbar-content{
    -fx-background-color: #440a2d;
    -fx-border-radius: 200px 20px 20px 20px;
}
.jfx-snackbar{
    -fx-border-radius: 200px 20px 20px 20px;
}
.jfx-snackbar-action{

}

.hyperlink:visited{
    -fx-text-fill: rgb(244,211,244);
}

.hyperlink:hover {
    -fx-underline: false;
    -fx-text-fill: black;
}

.hyperlink:selected{

}
.hyperlink{
    -fx-text-fill: rgb(122, 119, 130);
    -fx-text-fill: rgba(48.452629203989076, 51.573370003584664, 54.86453148626511, 0.909);
}

.loading {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-font-size: 0pt;
    -fx-text-alignment: center;

}

.loading:hover, .loading:focused {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;

}
.loading:pressed{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
}