.button {
    -fx-font-weight: bold;
    -fx-text-fill: #029ce7;
    -fx-background-color: rgb(255, 249, 249);
}
.jfx-snackbar-content{
    -fx-background-color: #029ce7;

}
.jfx-snackbar-toast{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 200px 20px 20px 20px;
}

.jfx-snackbar{
    -fx-border-radius: 200px 20px 20px 20px;
}
.jfx-snackbar-action{

}